.dark {
	--bg-100: hsl(0, 0%, 18%);
	--bg-200: hsl(0, 0%, 17%);
	--bg-300: hsl(0, 0%, 16%);
	--bg-400: hsl(0, 0%, 15%);
	--bg-500: hsl(0, 0%, 14%);
	--bg-600: hsl(0, 0%, 13%);
	--bg-700: hsl(0, 0%, 12%);
	--bg-800: hsl(0, 0%, 11%);
	--bg-900: hsl(0, 0%, 10%);

	--text-100: hsl(0, 0%, 100%);
	--text-200: hsl(0, 0%, 90%);
	--text-300: hsl(0, 0%, 80%);
	--text-400: hsl(0, 0%, 70%);
	--text-500: hsl(0, 0%, 60%);
	--text-600: hsl(0, 0%, 50%);
	--text-700: hsl(0, 0%, 40%);
	--text-800: hsl(0, 0%, 30%);
	--text-900: hsl(0, 0%, 20%);
}

.light {
	--bg-900: hsl(0, 0%, 80%);
	--bg-800: hsl(0, 0%, 75%);
	--bg-700: hsl(0, 0%, 70%);
	--bg-600: hsl(0, 0%, 65%);
	--bg-500: hsl(0, 0%, 60%);
	--bg-400: hsl(0, 0%, 55%);
	--bg-300: hsl(0, 0%, 50%);
	--bg-200: hsl(0, 0%, 45%);
	--bg-100: hsl(0, 0%, 40%);

	--text-100: hsl(0, 0%, 20%);
	--text-200: hsl(0, 0%, 30%);
	--text-300: hsl(0, 0%, 40%);
	--text-400: hsl(0, 0%, 50%);
	--text-500: hsl(0, 0%, 60%);
	--text-600: hsl(0, 0%, 70%);
	--text-700: hsl(0, 0%, 80%);
	--text-800: hsl(0, 0%, 90%);
	--text-900: hsl(0, 0%, 100%);
}
